<%- include('../partials/header') %>
<div class="polls-container">
  <% if (polls.length > 0) { %> <% polls.forEach(poll => { %>
  <div class="poll">
    <h3><%= poll.question %></h3>
    <ul>
      <% poll.options.forEach(option => { %>
      <li>
        <button onclick="vote('<%= poll._id %>', '<%= option.answer %>')">
          <%= option.answer %> (<%= option.votes %>)
        </button>
      </li>
      <% }); %>
    </ul>
  </div>
  <% }); %> <% } else { %>
  <p>No polls available. Create one now!</p>
  <% } %>
</div>

<script>
  const socket = new WebSocket("ws://localhost:3000/ws");

  function vote(pollId, option) {
    socket.send(JSON.stringify({ pollId, selectedOption: option }));
  }

  socket.onmessage = (event) => {
    const data = JSON.parse(event.data);
    if (data.type === "updatePoll") {
      location.reload();
    }
  };
</script>
